@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #31a694;
    display: block;
    justify-content: center;
    align-items: center;
}

.container1{
    width: 85%;
    height: 35rem;
    background-image:repeating-linear-gradient(black,black 10px,#fff 10px,#fff 20px);
    box-sizing: border-box;
    padding: 40px;
    margin: 5rem auto;
}

.container1 h1{
    color: #fff;
    position: absolute;
    top: 30px;
    left: 5px;
    font-family: Poppins,sans-serif;
    
}

.container2{
    width: 85%;
    height: 35rem;
    background-image:repeating-radial-gradient(black,black 10px,#fff 10px,#fff 20px);
    box-sizing: border-box;
    padding: 40px;
    margin: 5rem auto;
}

.container2 h1{
    color: #fff;
    position: absolute;
    top: 41rem;
    left: 5px;
    font-family: Poppins,sans-serif;
    
}
